@model SingleTicketing.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="modal fade" id="ErrorMessageModal" tabindex="-1" role="dialog" aria-labelledby="ErrorMessageLabel" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-danger text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="ErrorMessageLabel">Failed</h5>
                </div>
                <div class="modal-body">
                    @TempData["ErrorMessage"]
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize the modal via JavaScript
            var ErrorMessageModalElement = document.getElementById('ErrorMessageModal');
            if (ErrorMessageModalElement) {
                var ErrorMessageModal = new bootstrap.Modal(ErrorMessageModalElement);
                ErrorMessageModal.show();

                // Automatically hide the modal after 2 seconds
                setTimeout(function () {
                    ErrorMessageModal.hide();
                }, 3000); // 2 seconds
            } else {
                console.log("Success modal element not found.");
            }
        });
    </script>
}
<div class="center-wrapper">
    <div class="card card-container shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-center">@ViewData["Title"]</h2>

      

            

            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>
