<header id="header" class="header d-flex flex-column justify-content-center">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a asp-controller="Driver" asp-action="Dashboard"><i class="bi bi-stack"></i><span>Dashboard</span></a></li>
            <li><a asp-controller="Driver" asp-action="Cases"><i class="bi bi-briefcase"></i><span>Cases</span></a></li>
            <li><a asp-controller="Driver" asp-action="Profile"><i class="bi bi-person-badge"></i><span>Profile</span></a></li>
            <li><a asp-controller="Driver" asp-action="Activity"><i class="bi bi-person-lines-fill"></i><span>Activities</span></a></li>
            <li><a asp-controller="Driver" asp-action="License"><i class="bi bi-person-vcard-fill"></i><span>License</span></a></li>
        </ul>
    </nav>
</header>
