<header id="header" class="header d-flex flex-column justify-content-center">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a asp-controller="SuperAdmin" asp-action="Home"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
            <li><a asp-controller="Driver" asp-action="Index"><i class="bi bi-car-front"></i><span>Drivers</span></a></li>
            <li><a asp-controller="SuperAdmin" asp-action="Enforcer"><i class="bi bi-shield-check"></i><span>Enforcers</span></a></li>
            <li><a asp-controller="SuperAdmin" asp-action="View"><i class="bi bi-view-list"></i><span>View User</span></a></li>
            <li><a asp-controller="SuperAdmin" asp-action="Index"><i class="bi bi-person-gear"></i><span>Edit User</span></a></li>
            <li><a asp-controller="SuperAdmin" asp-action="Audit"><i class="bi bi-person-lines-fill"></i><span>Audit Trail</span></a></li>
            <li><a asp-controller="SuperAdmin" asp-action="Audit"><i class="bi bi-activity"></i><span>User Activites</span></a></li>
            <li><a asp-controller="SuperAdmin" asp-action="Settings"><i class="bi bi-gear-wide-connected"></i><span>Settings</span></a></li>
        </ul>
    </nav>
</header>
