@Html.Partial("_SuperAdminSidebar.cshtml")

<!-- Main Content -->
<main class="bg-custom col-md-11 ms-sm-auto col-lg-12    px-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card position-relative">
                <div class=" position-absolute top-0 start-0 w-100 h-100"></div>
                <div class="card-body position-relative z-index-1">
                    <h1 class="card-title">Super Admin Dashboard</h1>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Activities</h5>
                    <ul class="list-unstyled">
                        <li>User logged in</li>
                        <li>User created a report</li>
                        <li>User updated settings</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notifications</h5>
                    <p>New user registrations: 5</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">System Health</h5>
                    <p>All systems operational.</p>
                </div>
            </div>
        </div>
    </div>
</main>
