@model SingleTicketing.Models.UpdateViewModel

<h2>Manage User</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="UpdateUser" method="post">
    
    <input type="hidden" asp-for="Id" />
    <input asp-for="Username" class="form-control" readonly />
    <select asp-for="Role" asp-items="Model.Roles" class="form-control">
        <option value="">Select Role</option>
    </select>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
